.cart-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  position: fixed;
  top: 8rem;
  right: 1rem;
  width: 18rem;
}

.cart-item {
  display: flex;
  margin: 10px 0 10px 0;
  justify-content: space-between;
  p, span {
    margin: 0 5px 0 0; 
  }
  
}

.title {
  margin: 0 0 5px 0; 
}

.material-symbols-outlined {
  margin: 0 0 0 5px;
  font-size: 12px; 
  cursor: pointer;
}
