<div class="cart-content">
  <p *ngIf="cart?.length! === 0">Cart empty</p>
  <ng-container *ngIf="cart?.length! > 0">
    <p class="title">Cart</p>
    <hr>
    <div *ngFor="let item of cart" class="cart-item">
      <p>{{ item?.product!.name }}</p>
      <p>${{ (item?.product!.price! * item?.quantity!).toFixed(2) }}</p>
      <span>(x{{ item?.quantity! }})</span>
      <span (click)="deleteCartItem(item)">
        <span class="material-symbols-outlined">delete</span>
      </span>
    </div>
    <p>Total: ${{sumTotal()}}</p>
  </ng-container>
</div>
