.cart-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  position: fixed;
  top: 8rem;
  right: 1rem;
  width: 14rem;
}
